.ls-none {
  letter-spacing: 0px;
}
.ls-default {
  letter-spacing: normal;
}
.als-lg {
  letter-spacing: calc((100vw / 60) + 8px);
}
.als-md {
  letter-spacing: calc((100vw / 80) + 6px);
}
.als-sm {
  letter-spacing: calc((100vw / 120) + 4px);
}
.als-xs {
  letter-spacing: calc((100vw / 160)  + 2px);
}