.c-main {
  color: var(--theme-one-main);
}
.c-sub {
  color: var(--theme-one-light);
}
.c-ther {
  color: var(--theme-one-ther);
}
.c-white {
  color: var(--theme-one-white);
}
.c-default {
  color: var(--theme-one-black);
}