@import './vars.css';
@import './config.css';
@import './h.css';
@import './als.css';
@import './c.css';
@import './fw.css';
@import './p.css';
@import './flex.css';

@import './haz.css';
@import './anim.css';
body {
  font-family: 'Ubuntu';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  overflow-x: hidden;
}